body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

h1, h2 {
    font-weight: 400;
}

h1 {
    text-align: center;
}

h2 {
    font-size: 18px;
}

.app, .app__panel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.app {
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.app__pagination {
    display: flex;
    justify-content: center;
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
}

.app__container {
    width: 60%;
    position: relative;
}

.question-panel {
    width: 100%;
    height: auto;
    padding: 50px;
    box-shadow: 0px 3px 21px 0px rgba(0,0,0,0.15);
    border-radius: 50px;
}

.question-panel__title {
    padding-right: 140px;
}

.question-panel__category, .question-panel__difficulty {
    padding-bottom: 15px;
    display: block;
    color: gray;
}

.question-panel__score {
    display: block;
    margin-bottom: 20px;
}

.question-panel__buttons {
    padding-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.question-panel__question-response {
    padding: 10px 15px;
    display: block;
    color: #1416a4;
}

.question-panel__button--next {
    position: absolute;
    top: 0;
    right: 0;
}

.button {
    background-color: #fff;
    padding: 10px 15px;
    border: 1px solid gray;
    min-width: 100px;
    cursor: pointer;
}

.button--next {
    background-color: #baebe8;
}

.button--next:disabled {
    background-color: #ccc;
}

#questionForm input[type='radio'] + label {
    padding: 15px;
    border: 1px solid gray;
    display: block;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

#questionForm input[type='radio']:checked + label,
#questionForm input[type='radio']:hover + label{
    background-color: #baebe8;
}

.app__filters {
    display: flex;
    align-items: center;
}

#appFilters input[type='radio'] + label {
    padding: 5px;
    margin: 0 5px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    background-color: #baebe8;
    border-radius: 5px;
}

#appFilters input[type='radio']:checked + label,
#appFilters input[type='radio']:hover + label{
    border: 1px solid gray;
}

.question-response {
    text-align: center;
}

#PaginationComponent, #FormComponent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

