body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

h1, h2 {
    font-weight: 400;
}

h2 {
    font-size: 18px;
}

textarea, select {
    font-size: 16px;
    padding: 15px;
}

option {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 15px;
    font-size: 16px;
}

.app {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.app__visual {
    background-image: url('img/caesar_cipher_device.jpg');
    background-size: contain;
    background-position: center center;
    width: 40%;
    height: 100vh;
    background-repeat: no-repeat;
}

.app__functional {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.app__functional-wrap {
    width: 75%;
}

.app__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    //background-color: #f5f5f5;
    margin-bottom: 20px;
    //border-left: 5px solid gray;
}

.app__info-img {
    width: 10%;
    height: auto;
}

.app__info-text {
    padding: 20px;
    font-style: italic;
    width: 90%;
}

.app__info-img img {
    width: 100%;
    height: auto;
}

.app__panel {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid gray;
    padding: 30px;
    box-shadow: 0 12px 41px #54354207, 0 2.68036px 9.15789px #5435420b, 0 0.798012px 2.72654px #54354212;
}

.app__form {
    padding: 20px;
}

.app__select {
    width: 100%;
    min-height: 40px;
}

.app__text {
    display: flex;
}

.app__text-wrap {
    width: 50%;
    padding: 20px;
}

.app__textarea {
    width: 100%;
}

.app__textarea--encrypted {
    color: blue;
}

.app__panel textarea {
    width: 100%;
    min-height: 70px;
}